flask
Flask-Session
requests
python-dotenv
sumy
nltk
numpy
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
python-docx
pillow
docx2txt
langdetect
werkzeug
transformers
torch